<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1036731097320-1mra79oltlf7gme8qvd3641lsi2u0ihu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1036731097320-1mra79oltlf7gme8qvd3641lsi2u0ihu</string>
	<key>API_KEY</key>
	<string>AIzaSyDUt3vnzRI07Qo6BlXZl-K-HTumgnB5-7U</string>
	<key>GCM_SENDER_ID</key>
	<string>1036731097320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aidendudley.songRequestApp</string>
	<key>PROJECT_ID</key>
	<string>ios-song-request-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-song-request-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036731097320:ios:7916084794bfa656</string>
	<key>DATABASE_URL</key>
	<string>https://ios-song-request-app.firebaseio.com</string>
</dict>
</plist>